build/
node_modules/

.env
.env.*
.npm
deno.lock
package-lock.json
package.json

._*
.com.apple.timemachine.donotpresent
.DocumentRevisions-V100
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
$RECYCLE.BIN/
Desktop.ini
ehthumbs_vista.db
ehthumbs.db
Thumbs.db
